In [88]:
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('tutorial_3').getOrCreate()

In [89]:
df_pyspark = spark.read.csv('test1.csv', header=True , inferSchema=True)

In [90]:
df_pyspark.drop('name').show()

+---+----------+------+
|age|experience|salary|
+---+----------+------+
| 21|         2|1500.0|
| 20|      null|2000.0|
| 14|      null|1000.0|
+---+----------+------+

In [91]:
df_pyspark.na.drop().show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|krishana| 21|         2|1500.0|
+--------+---+----------+------+

In [92]:
df_pyspark.na.drop(how="any").show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|krishana| 21|         2|1500.0|
+--------+---+----------+------+

In [95]:
df_pyspark.na.drop(subset=['experience'], how="any").show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|krishana| 21|         2|1500.0|
+--------+---+----------+------+

In [96]:
df_pyspark.na.fill('Missing values',['experience']).show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
|krishana| 21|         2|1500.0|
|  Mohini| 20|      null|2000.0|
|   soham| 14|      null|1000.0|
+--------+---+----------+------+

In [ ]:
df_pyspark.show()

+--------+----+------------+-------+
|    name|age | experience | salary|
+--------+----+------------+-------+
|krishana|21.0|          2 | 1500.0|
| Mohini |20.0|        null| 2000.0|
|  soham |14.0|            | 1000.0|
+--------+----+------------+-------+

In [100]:
from pyspark.ml.feature import Imputer
inputList = ['experience' , 'salary' , 'age']
imputer = Imputer(
    inputCols= inputList,
    outputCols=["{}_imputed".format(c) for c in inputList]
).setStrategy("mean")

In [101]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+---+----------+------+------------------+--------------+-----------+
|    name|age|experience|salary|experience_imputed|salary_imputed|age_imputed|
+--------+---+----------+------+------------------+--------------+-----------+
|krishana| 21|         2|1500.0|                 2|        1500.0|         21|
|  Mohini| 20|      null|2000.0|                 2|        2000.0|         20|
|   soham| 14|      null|1000.0|                 2|        1000.0|         14|
+--------+---+----------+------+------------------+--------------+-----------+